<h1> Default </h1>

<%= form_for(@default) do |f| %>
  <% if @default.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@default.errors.count, "error") %>
prohibited this user from being saved:</h2>
    <ul>
    <% @default.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>